h1 {
  margin: 3rem auto;
  text-align: center;
  margin-top: 0;
}
.container {
  height: 225px;
  width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
  background: #ccc;
  margin: 3rem auto;
  align-items: center;

  .clock {
    font-size: 90px;
    color: rgb(32, 126, 126);
  }

  .date {
    height: 25px;
    width: 250px;
    // display: flex;
    // align-items: end;
    // justify-content: center;
    position: absolute;
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    padding-top: 3px;
    bottom: 0;
    font-weight: bold;
    color: rgb(30, 78, 78);
  }

  .button {
    margin-right: 5px;
  }
}
